@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  @keyframes rainbowText {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  .animation-rainbow {
    animation: rainbowText 3s linear infinite;
    color: hsl(168, 100%, 57%);
  }

  .text-balance {
    text-wrap: balance;
  }

  .pb-safe-main-view {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  }
}
